[submodule "projects/website"]
	path = projects/website
	url = https://github.com/geoia/website.git
[submodule "projects/backend"]
	path = projects/backend
	url = https://github.com/geoia/backend.git
